@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  font-family: "IBM Plex Sans", sans-serif;
  padding-top: 70px;
  background-color: #fcdec0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #b4846c;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(31, 13, 13, 0.658);
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
  list-style-type: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
  font-size: 20px;
}

nav ul li a:hover {
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.705);
  border-bottom: 2px solid #fcdec0;
}

#main {
  text-align: center;
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
}

#main h1 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.671);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.705);
}

#main p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.671);
  margin-top: -40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
}

#img-div {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

#image {
  max-width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.705);
  transition: 0.3s;
}

#image:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.705);
}

#img-caption {
  margin-top: 10px;
  font-size: 1.2em;
}

#tribute-info {
  width: 900px;
  margin: 50px auto;
}

#tribute-info h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-top: 100px;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.425);
}

#tribute-info ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#tribute-info li {
  margin: 5px;
}

#tribute-info ul li a {
  font-family: "Raleway", sans-serif;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.726);
}

#tribute-info ul li p {
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.685);
}

#videos h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-top: 100px;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.425);
}

#video-list {
  display: flex;
  justify-content: center;
}

#video-list iframe {
  margin: 90px 0;
}

#follow {
  text-align: center;
  background-color: #b4846c;
  padding: 5px 0;
}

#follow h2 {
  color: whitesmoke;
  font-family: "Raleway", sans-serif;
}

#follow h3 {
  color: whitesmoke;
  font-family: "Raleway", sans-serif;
}

#follow ul li a {
  color: whitesmoke;
}

#follow ul li p {
  color: whitesmoke;
  margin-top: -4px;
}
